@mixin main-card {
    background: #fff;
}

.card{
    @include main-card;
}

.card-up{
    @include main-card;
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}

.card:hover{
    @include main-card;
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}

.dashboard-card{
    position: relative;
    /*margin-bottom: 2.143rem;*/
    background-color: #fff;
    border: 0 solid transparent;
    border-radius: .286rem;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-top: 40px !important;
    min-height: 170px;
    overflow: hidden;
}

.dashboard-card-heading{
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    h4{
        margin: 6px 0px;
        font-size: 18px;
        color: #37474f;
    }
}

.dashboard-card-content{
    padding: 20px 20px;
    font-size: 1rem;
    font-weight: 300;
}

.dashboard-card-header{
    height: auto;
}

