h1, h2, h3, h4, h5, h6{
    margin-top: 0px;
    margin-bottom: 0px;
}
.headings{
    text-align: center;
    max-width: 620px;
    margin: auto;
}

.headings-3-1{
    font-size: 14px;
    font-weight: 700;
    color: #a0a0b9;
}

.headings-3-2{
    font-size: 24px;
    font-weight: 700;
    color: #0a0a19;
}

.headings-3-3{
    font-size: 16px;
    font-weight: 500;
    color: #62618d;
}

.h-xs{
    font-size: 14px;
    font-weight: 300;
}

.h-sm{
    font-size: 16px;
    font-weight: 300;
}

.h-normal{
    font-size: 18px;
    font-weight: 400;
}

.h-lx{
    font-size: 23px;
    font-weight: 500;
}

.h-lx{
    font-size: 34px;
    font-weight: 600;
}

.h-lxx{
    font-size: 56px;
    font-weight: 700;
}