/*************Radio************/
.radio{
    height: 1.50rem;
    width: 1.50rem;
    border-style: solid;
    border-width: 1px;
    border-color: #8f9bb3;
    border-radius: 50%;
    cursor: pointer;
}
.radio.active{
    background-color: transparent;
    border-color: #3366ff;
}
.radio.active > span{
    display:block;
    height: 1.25rem;
    width: 1.25rem;
    background-color: #3366ff;
    border-radius: 50%;
    margin: 50% auto;
    transform: translateY(-50%) scale(.8);
}
/*************Radio************/